body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   
}
.header-section{
   display: flex;
   background-image: linear-gradient(85deg,firebrick,rgb(27, 7, 7));
}
.header-dev-width{
    width: 50%;
    margin: 30px 30px 30px 50px;
}
.header-dev-width img{
    width: 60%;
   
}
h1{
    color: rgba(44, 40, 40, 0.788);
    font-weight: 700;
}
.header-dev-width p{
    color: rgba(243, 160, 160, 0.51);
}
.changing-text-color{
    color: rgb(240, 191, 102);
}

.both-order-food-contact-btn{
    line-height: 6em;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg ,firebrick,tomato);
    padding: 10px;
    border-radius: 30px;

}


.about-section{
    background-image: url(shape/backgraound.jpg);
    background-repeat: no-repeat;
    display: flex;
    margin: 30px 30px 30px 30px;   
}
.about-dev-img-width{
    width: 50%;
    padding: 2%;
    text-align: center;
}
.about-dev-img-width img{
    width: 50%;
    margin: 2%;
  
}
.about-dev-width{
    width: 50%;
    padding: 2%;
    margin: auto;
}
#about-me-text-style{
    color: rgba(44, 40, 40, 0.734);
     width: 80%;
    font-weight: 400
}
.recipe-title-style{
   
    color: rgba(0, 0, 0, 0.503);
    font-weight: 700;
}
#recipe-title-style{
    color: rgba(0, 0, 0, 0.503);
    font-weight: 700;
    text-align: center;
}
.recipies-title-info-part p{
    color: rgba(0, 0, 0, 0.503);
    font-weight: 700;
    text-align: center;
}

.my-recipies-part{
    display: flex;
    margin-left: 3%;
    padding-left: 2px;
    
}
.recipies-item img{
    width: 80%;
    padding: 9%;
   

}
.recipies-item{
    box-shadow: 10px 5px 8px 10px rgba(170, 166, 166, 0.598);
    width: 25%;
    margin-left: 6%;
    border: 7 solid;
    border-radius: 20px;  

}
.recipie-title{
   padding: 0 33px 10px;
   margin-bottom: 0;
}
.recipie-detail{
    padding: 0 33px 15px;
    margin-top: 0;
   
 }

.footer-background{
   
    background-image: linear-gradient(firebrick,black);
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
   
}
.conclusion{
    color: rgba(147, 140, 140, 0.639);
}
